<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Trilateration</title>
    <link rel="stylesheet" href="/styles/bootstrap-solar.min.css">
    <link rel="stylesheet" href="/vendor/dropzone/dist/min/dropzone.min.css">
    <link rel="stylesheet" href="/vendor/datatables/media/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/styles/custom.css">
  </head>
  <body>

  @{body}

  </body>
</html>
